.portfolio {
  min-height: 100vh;
  padding: 120px 5%;
  background: #050816;
  color: white;
}

.portfolio-title {
  text-align: center;
  margin-bottom: 70px;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3px;
}

.project-card {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;

  background: rgba(255, 255, 255, 0.03);

  border: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 24px;

  padding: 40px;

  margin-bottom: 70px;

  backdrop-filter: blur(15px);
}

.featured {
  color: #8b5cf6;
  font-size: 15px;
  font-weight: 600;
}

.project-left h2 {
  font-size: 4rem;
  margin: 15px 0;
}

.project-description {
  color: #c9c9c9;
  line-height: 1.8;
  margin-bottom: 30px;
}

.project-buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.live-btn,
.github-btn {
  text-decoration: none;
  padding: 14px 30px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.live-btn {
  background: linear-gradient(
    135deg,
    #8b5cf6,
    #6366f1
  );
  color: white;
}

.github-btn {
  background: #151a2f;
  color: white;
}

.live-btn:hover,
.github-btn:hover {
  transform: translateY(-5px);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.portfolio-grid img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
  transition: 0.4s;
  border: 2px solid #222;
}

.portfolio-grid img:hover {
  transform: scale(1.05);
  border-color: #8b5cf6;
}

.overview-box {
  margin-top: 40px;
}

.overview-box h3 {
  margin-bottom: 15px;
  color: white;
}

.overview-box p {
  color: #bdbdbd;
  line-height: 1.8;
}

.project-right {
  border-left: 1px solid rgba(255,255,255,0.08);
  padding-left: 30px;
}

.project-right h3 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.project-right ul {
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.project-right li {
  padding: 10px 0;
  color: #d5d5d5;
}

.tech-stack {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 40px;
}

.tech-stack span {
  background: #111827;
  padding: 12px 18px;
  border-radius: 12px;
  border: 1px solid #2b2b2b;
}

.project-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-links a {
  text-decoration: none;
  color: #8b5cf6;
  transition: 0.3s;
}

.project-links a:hover {
  color: #a78bfa;
}

@media (max-width: 992px) {
  .project-card {
    grid-template-columns: 1fr;
  }

  .project-right {
    border-left: none;
    padding-left: 0;
  }

  .project-left h2 {
    font-size: 2.5rem;
  }

  .portfolio-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding: 100px 20px;
  }

  .portfolio-title {
    font-size: 2rem;
  }

  .project-left h2 {
    font-size: 2rem;
  }

  .project-buttons {
    flex-direction: column;
  }
}